.centeredContainer {

	display: flex;
	justify-content: center;
	margin: 20px;
}

.container {

	background: var(--color-background);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 813px;
	gap: 20px;

	border-radius: var(--border-radius);

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
}


.selectors {

	display: flex;
	gap: 20px;
	width: 100%;
}